 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Navbar{
    display: flex;
    /* justify-content: space-around; */
    align-items:center;
    height:50px;
    background-color: #f44336!important;
    color:white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  box-shadow: 5px 4px 21px grey;

}
.Home{
    /* font-size:20px;
    background-color:white;
    font-weight: 300;
    padding:12px;
    color:black;
    width:08%;
    display: flex;
    justify-content:center;
    position:fixed; */
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    background-color:white;
    color:black;
    padding:14px 24px !important;
    font-family: "Montserrat", sans-serif;
    font-weight:400;
    
}
.Navlink{
 display: flex;
 /* justify-content: flex-end; */
 width: 75%;
   list-style: none;
   padding: 10px 6px 10px 0%;
   
}
.Link1,.Link2,.Link3,.Link4{
    text-decoration: none;
    color: white;
    font-size: 20px;
    /* padding:10px 20px; */
    margin: 0 12px;
    cursor: pointer;
    
}
.mobile-menu-icon{
    display: none;
    
}
li:hover{
    background:white;
    color:black;
    padding: 12px 35px 12px 0px;
}
.li-css{
    padding: 12px 35px 12px 0px;
    font-size: 20px;
}

@media screen and (max-width:600px){
    .li-css{
        padding: 7px 35px 12px 28%;
        font-size: 20px;
    }
    .Home{
        float: left;
        width: auto;
        border: none;
        display: block;
        outline: 0;
        background-color:white;
        color:black;
        padding:14px 24px !important;
        font-family: "Montserrat", sans-serif;
        font-weight:400;

    }
    .Navlink{
        display: none;
    }
    .nav-links-mobile{
    /* display: block; */
    position: absolute;
    /* position:fixed; */
    background-color:white;
    /* left: 0; */
    top: 49px;
    /* bottom: -1px; */
    /* list-style: none; */
    /* transition: all 0.5s ease-out; */
    width: 100%;
    color:black;
    display:grid;
    grid-template-columns:10px;
    grid-template-rows:43px;
    
    }
    .Link1,.Link2,.Link3,.Link4{
        color: #fff;
        text-align:center;
        /* padding:32px; */
        width: 100%;
        /* transition: all 0.5s ease   ; */
    }
    .mobile-menu-icon{
        display: block;
     position: absolute;
     font-size: 20px;
     color: #ffff;
     background-color: #f44336!important;
     border:none;
     outline: none;
     top: 13px;
     right: 25px;
    }
}
