.body {
  width: 100%;
  height: 100vh;
}
.text-css {
  margin-right: 45px;
 
}

.Main-css {
  display: grid;
  /* width: 100%; */
  grid-template-columns: max-content;
  text-align: center;
  justify-content: center;
  font-size: xx-large;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  background-color: #f44336!important;  
  color: white;
  margin-bottom: 65px;
  line-height: 82.5px;
}
.btn-css {
  background-color: black;
  color: white;
  width: 200px;
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-bottom: 30%;
  padding:12px 24px;
}


/* .textcss {
  font-weight: 400;
  display: flex;
  justify-content:center;
  background-color: #fff;
  justify-content: space-around;
} */
.icon-css{

  font-size: 53vh;
    color: #f44336!important;
    margin-left: 25%;
    /* margin-left: 25%; */
    margin-top: 30px;
}
.Second-icon-css{
  font-size:52vh;
  color: #f44336!important;
  margin-left: 25%;
  margin-top: 0px;
  /* margin-right: 10%; */
}

.start-css{
  margin-top: 44%;
  font-weight: 370;

}
.lorem-title{
 margin: 10px 0;
  font-weight: 300;
  font-size:36px;
  margin-bottom:12%;
}
.text-light{
  font-weight: 100;
  color: gray;
  margin-bottom: 3%;
}
.lorem-p{
  font-weight: 600;
  margin-bottom: 12%;
}
.Sec-lorem-css{
  background-color:#f1f1f1!important;
 
}
.container{
  background-color:#000 !important;
  opacity:.60;
  width:100%;
  display: flex;
  justify-content:center;
  padding-bottom :64px !important;
  padding-top: 64px !important;
  text-align:center;
  font-weight: 400;
  font-size:xx-large;
  color: white;
}
.Footer-css{
  display: flex;
  justify-content:center;
  font-size:xx-large;
  margin-top:08%

}

.footer-css{
  display: flex;
  justify-content:center;
  margin-top:04%;
  color:gray
}
button:hover{
  background-color:grey
}

@media screen and (min-width:601px){
  .lorem-css {
    justify-content: space-evenly;
    /* margin-left: 100px; */
    margin-right: 90px;
    /* align-items: flex-end; */
    display:flex;
    padding:13%;
    margin-top:-15%
  }
   .Second-icon-css,.icon-css {
    color: #f44336!important;
    font-size: 170px;
    /* margin-bottom: 75px;
    margin-right: 60px; */
  }
}
.text-light{
  font-weight: 100;
  color: gray;
  margin-bottom: 5%;
}
.lorem-p{
  font-weight: 600;
  margin-bottom: 5%;
}
.Sec-lorem-css{
  background-color:#f1f1f1!important;
 
}
.Second-lorem-css{
  justify-content: space-evenly;
  /* margin-left: 100px; */
  margin-right: 90px;
  /* align-items: flex-end; */
  display:flex;
  padding:13%;
  margin-top:-15%;
  width: 100%;  
}
