.body {
  width: 100%;
  height: 100vh;
}
.text-css {
  margin-right: 45px;
 
}

.Main-css {
  display: grid;
  /* width: 100%; */
  grid-template-columns: max-content;
  text-align: center;
  justify-content: center;
  font-size: xx-large;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  background-color: #f44336!important;  
  color: white;
  margin-bottom: 65px;
  line-height: 82.5px;
}
.btn-css {
  background-color: black;
  color: white;
  width: 200px;
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-bottom: 30%;
  padding:12px 24px;
}


/* .textcss,.Sec-textcss {
  font-weight: 400;
  display: flex;
  justify-content:center;
  background-color: #fff;
  justify-content: space-around;
  margin-right: 10px;
  width: 100%;
} */
/* .Sec-textcss{
  font-weight: 400;
  justify-content:center;
   justify-content: space-around;
  margin-right: 10px;
} */
.icon-css,.Second-icon-css{

  font-size: 170px;
    color: #f44336!important;
    margin-left: 30%;
    margin-top: 12%;
    max-width: 100%;
}
/* .Second-icon-css{
  font-size:170px;
  color: #f44336!important;
  margin-left: 30%;
 width:100%;
  margin-top: 140px;
  margin-bottom: 100px;
  max-width: 100%;
} */

.start-css{
  margin-top: 44%;
  font-weight: 370;

}
.lorem-title{
 margin: 10px 0px 10px 12px;
  font-weight: 300;
  font-size:36px;
  margin-bottom:9%;
}
.text-light{
  font-weight: 100;
  color: gray;
  margin-bottom: 3%;
  margin: 10px 0px 70px 12px;
}
.lorem-p{
  font-weight: 600;
  margin-bottom: 12%;
  margin: 10px 0px 10px 12px;
}
.Sec-lorem-css{
  background-color:#f1f1f1!important;
  
 
}
.container{
  background-color:#000 !important;
  opacity:.60;
  width:100%;
  display: flex;
  justify-content:center;
  padding-bottom :64px !important;
  padding-top: 64px !important;
  text-align:center;
  font-weight: 400;
  font-size:xx-large;
  color: white;
}
.Footer-css{
  display: flex;
  justify-content:center;
  font-size:x-large;
  /* margin-top:18%;
  margin-right:10px; */
  color:gray;
  /* margin-bottom:70px; */
  margin: 6% 10px 70px 0;


}
i:hover{
color:gray;
opacity:0.3;
}


.footer-css{
  display: flex;
  justify-content:center;
  margin-top:04%;
  color:gray;
  margin-bottom: 70px;
}
button:hover{
  background-color:grey
}
/* .Second-lorem-css{
  margin-right: 90px;
  align-items: flex-start;
  display:flex;
  margin-top:0%;
  width: 100%;  
  justify-content: flex-start;
} */


@media screen and (min-width:601px){
  .lorem-css{
    
    /* width: 80%; */
    justify-content:center;
    margin-right: 140px;
    align-items: flex-start;
    display: flex;
    padding: 8% 106px!important;
    margin-top: -10%;
    
  }
  /* .Sec-lorem-css{
    
    justify-content:center;
    margin-right: 140px;
    align-items: flex-start;
    display: flex;
    padding: 8% 106px!important;
    margin-top: -10%;
    
  } */
  
  /* .main-icon{
    width: 20%;
  }
  .sec-main-icon{
    width: 20%;
  } */
  /* .Second-lorem-css{
  
    display:flex;
    padding:13%;
    margin-top:0%;
    width: 80%;  
  } */
   .icon-css{
    color: #f44336!important;
    font-size: 170px;
    margin-left: 145px;
    /* margin-right: 170px;
    margin-top: 248px; */
    
  }
  .Second-icon-css {
    color: #f44336!important;
    font-size: 45em;
  }
  .sec-main-icon{
    display: flex;
    justify-content: end;
    margin-top: -20%;
    margin-right: 26px;
  }
  .text-light{
    font-weight: 100;
    color: gray;
    /* margin-bottom: -9%; */
  }
  .lorem-p{
    font-weight: 600;
    margin-bottom: 5%;
  }
  .Sec-lorem-css{
    background-color:#f1f1f1!important;
    /* display: flex; */
    width:100%;
    justify-content: center;
    margin-right: 170px;
    align-items: flex-start;
    display: flex;
    padding: 8% 106px!important;
    margin-top: -15%;
    
  }
  .Sec-text-css{
    /* display: flex; */
    margin-left: 100%;
  }
}

@media screen and (max-width:500px){
  .body{
    width: 100%;
    
  }
  .start-css{
    font-size:xx-large;
    font-weight: 500;
  
  }
  .btn-css{
    display: flex;
    justify-content:center;
    margin-left: 22px;
  }
}